---
layout: layout
---

<%
  const apps = site.data.miscellaneous.apps;
%>

<%- partial('_partial/heroheader') %>

<article class="contents misc">
  <h2>EXPLORE FEDIVERSE SOFTWARE</h2>

  <p class="option">ActivityPub</p> <input id="sortAP" type="checkbox">
  <p class="option">Zot</p> <input id="sortZot" type="checkbox">
  <p class="option">diaspora</p> <input id="sortDiaspora" type="checkbox">
  <p class="option">OStatus</p> <input id="sortOstatus" type="checkbox">
  <br>

  <p class="option">Social network (macro)</p><input id="snMacro" type="checkbox">
  <p class="option">Social network (micro)</p><input id="snMicro" type="checkbox">
  <p class="option">Blog &#38; Publishing</p><input id="blogPub" type="checkbox">
  <p class="option">Media sharing (audio, images)</p><input id="media" type="checkbox">
  <p class="option">Link sharing</p><input id="links" type="checkbox">
  <p class="option">Events &#38; meetups</p><input id="evMeet" type="checkbox">
  <p class="option">File hosting</p> <input id="files" type="checkbox">
  <p class="option">Economic activities</p><input id="econ" type="checkbox">
  <p class="option">Cooperatives &#38; shared</p><input id="coop" type="checkbox">
  <p class="option">Developer Tools</p><input id="dev" type="checkbox">
  <p class="option">Plugins</p><input id="plugins" type="checkbox">

  <section class="grid misc__grid">
    <% for (item in apps) { %>

      <% let type = apps[item].categories %>
      <div class="card <% if (apps[item].apClass) { %>ap<% } %> <% if (apps[item].zotClass) { %>zot<% } %> <% if (apps[item].diasporaClass) { %>diaspora<% } %> <% if (apps[item].OStatusClass) { %>os<% } %> <% for (t in type) { %><%=type[t]%><% } %>">

        <div class="card__title">
          <% if (apps[item].logo) { %><img src="<%= apps[item].logo %>" alt="logo"><% } %>
          <p class="title u-emphasize"><%= apps[item].title %></p>
        </div>
        <div class="card__body">
          <% if (apps[item].site) { %>
            <h4 class="card__subtitle">Website</h4>
            <p><a href="https://<%= apps[item].site %>"><%= apps[item].site %></a>
            <svg role="img"><title>remote link</title><use xlink:href="#icon-link"></use></svg></p>
          <% } %>
          <h4 class="card__subtitle">Source code</h4>
          <p><a href="https://<%= apps[item].source %>">repository</a> <svg role="img"><title>remote link</title><use xlink:href="#icon-link"></use></svg></p>
          <% if (apps[item].servers) { %>
            <h4 class="card__subtitle">Servers</h4>
            <p><a href="https://<%= apps[item].servers %>">list</a> <svg role="img"><title>remote link</title><use xlink:href="#icon-link"></use></svg></p>
          <% } %>
          <h4 class="card__subtitle">Protocols</h4>
          <p><%= apps[item].protocols %></p>
        </div>
      </div>
    <% } %>
  </section>
  <p>Something's missing? <a class="dark-ui" href="https://gitlab.com/fediverse/fediverse.gitlab.io/blob/master/CONTRIBUTING.md#submitting-software">Add</a> it.</p>
  <p>Software no longer maintained, renamed, broken link? Please, <a class="dark-ui" href="https://gitlab.com/fediverse/fediverse.gitlab.io/issues">let us know</a>.</p>
  <p>Special thanks to <a class="dark-ui" href="https://mastodon.nzoss.nz/@strypey">@strypey</a> - for curating this <a class="dark-ui" href="https://gitlab.com/fediverse/fediverse.gitlab.io/wikis/watchlist-for-activitypub-apps">list</a>.</p>
  <p>Other sources: <a class="dark-ui" href="https://ethercalc.org/fediverse-stacks">spreadsheet</a> by <a class="dark-ui" href="https://pub.mayel.space/users/mayel">@mayel</a>, implementation report on <a class="dark-ui" href="https://activitypub.rocks/implementation-report">activitypub.rocks</a> website.</p>
</article>
