<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="content-language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <link rel="canonical" href="https://fediverse.party">
    <link rel="author" href="/humans.txt">
    <meta name="description" content="<%= config.description %>">
    <meta itemprop="name" content="Fediverse">
    <meta itemprop="description" content="<%= config.description %>">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="F-Guide">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/touch/android-icon-192x192.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="apple-mobile-web-app-title" content="F-Guide">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/touch/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/touch/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/touch/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/touch/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/touch/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/touch/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/touch/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/touch/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/touch/apple-icon-180x180.png">

    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="msapplication-TileImage" content="/img/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#ffffff">

    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#f4f4f4">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta property="og:title" content="Fediverse">
    <meta property="og:description" content="<%= config.description %>">
    <meta property="og:image" content="<%= config.url %>/<% if (page.path.match(/post/) && page.banner) { %><%=page.path%><%=page.banner%><% } else { %><%=config.ogImage%><% } %>" />

    <title>
        <% if (page.title) { %>
          <%= page.title + ' - ' + config.title %>
        <% } else { %>
          <%= config.title %>
        <% } %>
    </title>

    <%- css('css/main.min.css') %>
    <%- partial('_partial/svgfont') %>
</head>
